*{
  padding: auto;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1{
  color: rgb(218, 24, 24);
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:70%;
  border: 5px solid rgb(238, 0, 206);
  width:100%;
}

.title{
  background:rgb(24, 24, 24);
}

.header-covid{
  display: flex;
  justify-content: space-around;
  background:rgb(24, 24, 24);
  height:70%;
  width: 100vw;
  display:flex;
  align-items: center;
  padding: 20px 10px;
  border: 5px solid rgb(0, 238, 91);
}

header img{
  height:50px;
  width:50px;
}

.title{
  background-color:rgb(24, 24, 24);
}

#map{
  height:100vh;
  width: 100vw;
  border: 5px solid rgb(0, 238, 238);
}

.dashboard{
  height:100vh;
  background:rgb(236, 236, 236);
  width: 25vw;
  border: 5px solid rgb(202, 238, 0);
}

.data-screen{
  border:1px solid rgb(255, 14, 14);
  height:100px;
  width:75vw;
  color:rgb(201, 49, 49);
  position:absolute;
}

footer{
  height:15vh;
  width:100%;
  background:rgb(38, 7, 216);
}

.deaths{
  color:#fff;
  font-size: 30px;
  font-weight: 800;
}

.deaths-box{
  height: 20px;
  width:180px;
  color:rgb(255, 0, 0);
  font-size: 25px;
}

.confirmed{
  color:#fff;
  font-size: 30px;
  font-weight: 800;
}

.confirmed-box{
  height: 20px;
  width:180px;
  color:rgb(255, 251, 0);
  font-size: 25px;
}
.recovered{
  color:#fff;
  font-size: 30px;
  font-weight: 800;
}

.recovered-box{
  height: 20px;
  width:180px;
  color: rgb(43, 255, 0);
  font-size: 25px;
}

.country{
  color:#fff;
  font-size: 30px;
  font-weight: 800;
}

.country-box{
  height: 20px;
  width:180px;
  color: rgb(0, 153, 255);
  font-size: 25px;
}
